:root {
  --cream: #f2eae2;
  --white: #ffffff;
  --grey: #6c7289;
  --green: #3d8168;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--cream);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden; overflow-y: auto;
}

.card {
  display: flex;
  background-color: var(--white);
  width: 37.5rem; /* 600px */
  height: 28.5rem; /* 456px */
  border-radius: 0.75rem; 
  overflow: hidden; 
}

.card section {
  width: 50%;
  height: 100%;
}
picture img{
  width: 100%;
  height: 100%;
}

.product-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2rem;
}

.product-tag {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.2;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  color: var(--grey);
}

.product-title {
  font-family: "Fraunces", serif;
  font-weight: 500;
  line-height: 1.2;
  color: var(--black);
}

.product-description {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.6;
  color: var(--grey);
}

.product-pricing {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-price {
  font-family: "Fraunces", serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1;
  color: var(--green);
}

.product-price-old {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.769;
  color: var(--grey);
  text-decoration: line-through;
}

.product-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.75rem;
  height: 3.125rem;
  padding: 1rem 2rem;

  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.1;
  letter-spacing: 0;
  background-color: var(--green);
  color: var(--white);

  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}

.product-btn img {
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.75rem;
}

@media (max-width: 600px) {
  body {
    padding: 3rem 1.5rem;
  }
  .card {
    flex-direction: column;
    width: 21.875rem;
    height: auto;
  }

  .card section {
    width: 100%;
    height: auto;
  }

  .product-btn {
    width: 100%;
  }
}
